# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
ENV/
env/
venv/

# Tooling
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.hypothesis/
.coverage
coverage.xml
nosetests.xml
pytest.xml

# Editors/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Node (sample apps)
node_modules/
